.products {
    gap: 20px;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box {
    width: 20.5%;
    height: 50%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #002726;
}

.img {
    width: 250px;
    height: 200px;
    margin: 0 auto;
    border-radius: 15px;
}

.box h3 {
    margin: 5px;
    text-align: center;
}

.box p {
    margin: 0;
    margin-bottom: 5px;
}